@use "../main.scss";


.header {
    height: 10dvh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: main.$white;
    position: fixed;
    top: 0;
    z-index: 11111111111;

    .header-content {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;

        .logo {
            width: 200px;
            position: relative;
            z-index: 1111;
            filter: brightness(0) saturate(100%) invert(57%) sepia(44%) saturate(671%) hue-rotate(135deg) brightness(92%) contrast(97%);
        }

        .nav-bar {
            // border: 5px solid blue;
            position: fixed;
            z-index: 111 !important;
            height: 100dvh;
            width: 100%;
            top: 0;
            left: 0;
            background-color: main.$white;

            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            transition: 0.5s;
            transform: translateX(100%);

            ul {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;


                li a {
                    font-size: 22px;
                    color: main.$black;
                    font-family: caps;
                }
            }

            .menu-additon-info {
                position: absolute;
                bottom: 1rem;

                display: flex;
                flex-direction: column;
                gap: 1rem;


                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    font-size: 15px;
                    color: main.$black;
                    font-family: caps;
                    color: main.$primary-color;

                    ion-icon {
                        font-size: 22px;
                    }
                }

                .icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;

                    a{
                        border: 1px solid main.$primary-color;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;

                        img {
                           width: 21px;
                           filter: brightness(0) saturate(100%) invert(57%) sepia(44%) saturate(671%) hue-rotate(135deg) brightness(92%) contrast(97%);
   
                       }
                    }
                }

            }


        }

        .nav-bar.active {
            transform: translateX(0%);
        }


        .burger {
            display: flex;
            flex-direction: column;
            gap: 4px;
            position: relative;
            z-index: 111;


            .line {
                transition: 0.5s;
                height: 4px;
                width: 32px;
                background-color: main.$white;
                border-radius: 5px;
            }

            .line2 {
                width: 22px !important;
                margin-left: 10px;
            }

            .line1.active {
                transform: rotate(-45deg) translateY(2px) translateX(-4px);
                background-color: main.$black;

            }

            .line2.active {
                opacity: 0;
            }

            .line3.active {
                transform: rotate(45deg) translateY(-7.5px) translateX(-8.5px);
                background-color: main.$black;

            }
        }
    }

    .decor-header {
        position: absolute;
        height: 10dvh;
        width: 20%;
        background-color: main.$primary-color;
        right: 0;

        img {
            position: absolute;
            height: 101%;
            right: 99%;
            filter: brightness(0) saturate(100%) invert(57%) sepia(44%) saturate(671%) hue-rotate(135deg) brightness(92%) contrast(97%);

        }

        .space {
            width: 20%;
        }
    }
}

.hero {
    position: relative;
    z-index: 11;
    width: 100%;
    overflow: hidden;
    margin-top: 10dvh;

    .hero-content {

        .arr {
            position: absolute;
            bottom: 10%;
            right: 10%;
            z-index: 11;
            display: flex;
            gap: 10px;

            button {

                border: none;
                padding: 10px;
                // border-radius: 10%;
                cursor: pointer;
                background-color: main.$primary-color;

                ion-icon {
                    font-size: 25px;
                    color: black;
                }
            }
        }

        .opacity {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: absolute;
            overflow: hidden;
            cursor: default;

            h2 {
                // transform: rotate(45deg);
                font-size: 16vw;
                font-family: caps;
                opacity: 0.3;
                font-weight: 900;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .text {


            .ofset {
                overflow: hidden;
                text-align: center;
                // padding: 0 5%;

                h1 {
                    font-size: 12vw;
                    color: main.$white;
                    font-family: caps;
                    text-shadow: 5px 5px main.$primary-color;
                    cursor: default;
                }

                p {
                    padding-top: 1rem;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 600;
                    cursor: default;
                    // font-family: normal;
                }
            }

        }

        .swiper-pagination {
            position: absolute;
            bottom: 10% !important;
            /* ან შენი სასურველი მდებარეობა */
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 11111;

            .swiper-pagination-bullet {
                width: 10px;
                margin: 5px;
                border: 2px solid white;
                height: 10px;
                margin: 0 5px;
                /* background: #afafaf !important; */
                opacity: 0.6;
                border-radius: 50%;
                cursor: pointer;
                background-color: transparent;
            }

            .swiper-pagination-bullet-active {
                background: main.$primary-color !important;
                /* აქტიური წერტილის ფერი */
                opacity: 1;
                border: 2px solid main.$primary-color;
            }

        }
    }
}

.country {
    position: relative;
    overflow-x: hidden;
    padding: 3rem 0;

    .country-content {
        max-width: 90%;
        margin: auto;

        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 2rem;

            h2 {
                font-size: 30px;
                font-family: caps;
                font-weight: 600;
                color: main.$black;
            }

            .arr {
                margin-top: 2rem;
                display: flex;
                gap: 5px;


                button {
                    font-size: 20px;
                    border: none;
                    background-color: main.$primary-color;
                    padding: 10px;
                    color: main.$white;
                }

            }


        }

        .country-slide {
            border-top: 2px solid main.$primary-color;
            padding-top: 2rem;

            .coutry-item {

                .item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    height: 400px;
                    // border: 2px solid main.$primary-color;
                    font-size: 25px;
                    font-family: normal;
                    font-weight: 100;
                    color: main.$white !important;
                }
            }

            .swiper-pagination {
                position: absolute;
                bottom: -7% !important;
                /* ან შენი სასურველი მდებარეობა */
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 11111 !important;

                .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                    margin: 5px;
                    border: 2px solid main.$primary-color;
                    margin: 0 5px;
                    /* background: #afafaf !important; */
                    // opacity: 0.6;
                    background-color: transparent;
                    border-radius: 50%;
                    opacity: 1;
                    cursor: pointer;
                }

                .swiper-pagination-bullet-active {
                    background: main.$primary-color !important;
                    /* აქტიური წერტილის ფერი */
                    opacity: 1;
                    border: 2px solid main.$primary-color ;
                }

            }
        }
    }
}

.tours {
    max-width: 90%;
    margin: 3rem auto;

    .tours-head {
        padding-bottom: 2rem;

        h2 {
            font-size: 30px;
            font-family: caps;
            font-weight: 600;
            color: main.$black;
        }
    }

    .bus-div {
        display: none;
    }

    .tours-content {
        border-top: 2px solid main.$primary-color;
        padding-top: 2rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        .cards {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            img {
                width: 100%;
                border-radius: 10px;
            }

            h3 {

                font-size: 25px;
                font-family: caps;
                font-weight: 500;
                color: main.$black !important;
            }

            p {
                font-size: 17px;
                opacity: 0.9;
                font-weight: 100;
            }

            .btn {
                
                button {
                    width: 100%;
                    padding: 15px;
                    border-radius: 30px;
                    border: none;
                    font-family: normal;
                    font-size: 16px;
                    color: white;
                    background-color: main.$primary-color;
                    cursor: pointer;
                    color: white;
                    font-family: caps;
                    font-size: 17px;
                }
            }

        }
    }

}

.plan-img {
    background: linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.486)), url(../assets/plan-pick.jpg) center / cover;
    height: 400px;
    width: 100%;
    // background-attachment: fixed;
}

.travel-plan {
    max-width: 90%;
    margin: 3rem auto;


    .travel-plan-head {
        position: relative;
        border-bottom: 2px solid main.$primary-color;
        padding: 2rem 0;
        overflow-y: hidden;

        h2 {
            font-size: 30px;
            font-family: caps;
            font-weight: 600;
            color: main.$black;
        }

        p {
            font-size: 17px;
            margin-top: 1rem;
        }

        .travel-plan-img {
            display: none;
        }
    }

    .plan {
        margin-top: 2rem;
        display: grid;
        gap: 1rem;

        .plan-item {
            display: flex;
            gap: 15px;

            .side {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 5px;

                .circle {
                    margin-top: 3px;
                    width: 20px;
                    height: 20px;
                    background-color: main.$primary-color;
                    border-radius: 50%;
                }

                .col {
                    width: 2px;
                    height: 80%;
                    background-color: main.$primary-color;
                }
            }

            .stage {
                h3 {
                    font-size: 20px;
                    font-family: caps;
                    line-height: 28px;
                    color: main.$primary-color;
                }

                ul {
                    margin-top: 1rem;
                    margin-left: 17px;

                    li {
                        line-height: 26px;
                        font-size: 17px;
                        color: main.$black;
                        list-style: disc;
                    }
                }

            }

        }
    }
}

.footer {
    position: relative;
    margin-top: 3rem;
    max-width: 100%;
    overflow: hidden;


    .background {
        max-width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.6;
        color: main.$white;

        .footer__content {
            max-width: 90%;
            margin: auto;
            padding: 3rem 0;

            .footer__main {
                .footer__logo {
                    border-bottom: 2px solid main.$white;
                    padding-bottom: 1rem;

                    img {
                        width: 100%;
                    }

                    div {
                        margin-top: 1rem;
                        font-size: 17px;

                        p a {
                            color: main.$white;
                        }

                    }
                }

                .footer__menu {
                    margin-top: 1rem;
                    border-bottom: 2px solid main.$white;
                    padding-bottom: 1rem;

                    ul {
                        margin-top: 8px;
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        li a {
                            font-size: 17px;
                            color: main.$white;

                        }
                    }
                }

                .footer__hours {
                    margin-top: 1rem;
                    border-bottom: 2px solid main.$white;
                    padding-bottom: 1rem;

                    .hours {
                        margin-top: 8px;
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        div {

                            display: flex;
                            justify-content: space-between;

                            p {
                                font-size: 17px;
                            }
                        }

                    }
                }
            }

            .last__line {
                margin-top: 1rem;
                .icons {
                    display: flex;
                    gap: 10px;
                    

                    a {
                        position: relative;
                        z-index: 1111;
                        border: 1px solid main.$white;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;

                        img{
                            width: 25px;
                            filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(301deg) brightness(104%) contrast(102%);
                        }

                    }
                    
                }
                p{
                    margin-top: 8px;
                    font-size: 17px;
                }
            }
        }
    }

    video {
        margin-bottom: -1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        z-index: -1;
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
        overflow: hidden;

    }
}

@media (min-width: 700px) {
    .tours {
        .tours-head {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0;

            h2 {

                display: flex;
                align-items: center;
            }

            .bus-div {
                width: 50%;
                display: flex;
                justify-content: space-between;

                img {
                    margin-bottom: -2px;
                }

            }
        }

        .tours-content {
            grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));


            .cards {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                img{
                    height: 250px;
                }

                h3 {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                p {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 3;
                    /* მხოლოდ სამი ხაზი გამოისახება */
                    line-clamp: 3;
                }

                button {
                    width: 100%;
                    padding: 15px;
                    border-radius: 30px;
                    border: none;
                    font-family: normal;
                    font-size: 16px;
                    color: white;
                    background-color: main.$primary-color;

                }

            }
        }

    }
}

@media (min-width: 1024px) {
    .header {
        .header-content {
            .nav-bar {
                // border: 5px solid blue;
                position: static;
                z-index: 111 !important;
                height: auto;
                width: 75%;
                top: 0;
                left: 0;
                background-color: transparent;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                transition: 0.5s;
                transform: translateX(0%);

                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 1.5rem;

                    li a {
                        font-size: 16px;
                        color: main.$black;
                        font-family: caps;
                        transition: 0.5s;
                    }

                    li a:hover {
                        color: main.$primary-color;
                    }
                }

                .menu-additon-info {
                    position: static;

                    li {
                        display: none;
                    }

                    .icons {
                        gap: 10px !important;

                        a{  
                            background-color: main.$white;
                            img {
                                border: none;
                            }  
                        } 
                    }

                }
            }

            .nav-bar.active {
                transform: translateX(0%);
            }

            .burger {
                display: none,
            }

            .decor-header {
                position: absolute;
                height: 10dvh;
                width: 15%;
                background-color: main.$primary-color;
                right: 0;

                // display: none;

                img {
                    position: absolute;
                    height: 101%;
                    right: 99%;
                    filter: brightness(0) saturate(100%) invert(57%) sepia(44%) saturate(671%) hue-rotate(135deg) brightness(92%) contrast(97%);

                }

                .space {
                    width: 15%;
                }
            }
        }

    }

    .hero {

        .hero-content {
            .opacity {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center !important;
                position: absolute;
                overflow: hidden;

                h2 {
                    // transform: rotate(45deg);
                    font-size: 16vw;
                    font-family: caps;
                    opacity: 0.3;
                    font-weight: 900;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }


            .text {
                padding: 5%;

                .ofset {
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h1 {
                        font-size: 100px !important;
                    }

                    p {
                        padding-top: 1rem;
                        font-size: 1vw;
                        width: 70%;
                    }
                }

            }
        }
    }

    .country {
        .country-content {
            .head {
                .arr {
                    margin-top: 0rem;
                }
            }

            .country-slide {
                border-top: 2px solid main.$primary-color;
                padding-top: 2rem;

                .coutry-item {

                    .item {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 20px;
                        height: 25vw;
                        // border: 2px solid main.$primary-color;
                        font-size: 25px;
                        font-family: normal;
                        font-weight: 100;
                        color: main.$white !important;
                    }
                }
            }
        }
    }
    .tours {
        .tours-content {
            .cards {
                img {
                    height: 270px;
                }
            }
        }
    
    }

    .footer {

        .background {

            .footer__content {
                
                
                .footer__main {
                    border-bottom: 2px solid main.$white;
                    padding-bottom: 1rem;
                    display: flex;
                    justify-content: space-between;

                    .footer__logo {
                        width: 40%;

                    }
    
                    .footer__hours {

                        .hours {

                            div {
                                gap: 1rem;
                            }
    
                        }
                    }
                    .footer__items{
                        border-bottom: none;
                        h2{
                            font-size: 35px;
                            font-family: caps;
                        }
                    }
                }
    
                .last__line {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 1rem;

                }
            }
        }
    

    }
}

@media (min-width: 1200px) {
    .header {
        height: 12dvh;
        .header-content {
            .nav-bar {
                width: 65%;
                ul li a{
                    font-size: 15px;
                }
                .menu-additon-info {
                    .icons {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1rem;

                        ion-icon {
                            background-color: main.$white;
                            font-size: 25px;
                            padding: 10px;
                            color: main.$primary-color;
                            // border-radius: 50%;
                        }
                    }

                }
            }
            
        }
        .decor-header {
            height: 12dvh ;
        }
    }

    .hero {

        .ofset {
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                width: 70%;
            }
        }
    }

    .plan-img {
        background: linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.486)), url(../assets/plan-pick.jpg) center / cover;
        height: 20vw;
        // height: 250px;
        width: 100%;
        background-attachment: fixed;
        // border-radius: 10px;
    }

    .travel-plan {
        max-width: 90%;
        margin: 3rem auto;

        .travel-plan-head {

            // position: relative;
            p {
                font-size: 17px;
                margin-top: 1rem;
                width: 500px;
            }

            .travel-plan-img {
                display: block;
                position: absolute;
                right: 0;
                bottom: -6px;

                img {
                    position: relative;
                    transition: 0.5s;
                    height: 80px;
                    width: 80px;
                    filter: brightness(0) saturate(100%) invert(57%) sepia(44%) saturate(671%) hue-rotate(135deg) brightness(92%) contrast(97%);
                }

                .cloud {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    top: -60px;
                    right: 170px;
                    z-index: -1;
                }

                .clouds {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    top: -45px;
                    right: 100px;
                    z-index: -1;
                }

                .sun {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    top: -70px;
                    right: 20px;
                    z-index: -1;
                }
            }
        }

        .plan {
            margin-top: 3rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
            gap: 2rem;


            .plan-item {
                display: flex;
                gap: 15px;

                .side {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 5px;

                    .circle {
                        margin-top: 3px;
                        width: 20px;
                        height: 20px;
                        background-color: main.$primary-color;
                        border-radius: 50%;
                    }

                    .col {
                        width: 2px;
                        height: 80%;
                        background-color: main.$primary-color;
                    }
                }

                .stage {
                    h3 {
                        font-size: 20px;
                        font-family: caps;
                        line-height: 28px;
                        color: main.$primary-color;
                    }

                    ul {
                        margin-top: 1rem;
                        margin-left: 17px;

                        li {
                            line-height: 26px;
                            font-size: 17px;
                            color: main.$black;
                            list-style: disc;
                        }
                    }

                }

            }
        }
    }

    .footer {
        .background {
            .footer__content {
                .footer__main {
                    .footer__logo {
                        width: 50%;

                    }

                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .footer {
        .background {
            .footer__content {
                .footer__main {
                    .footer__logo {
                        width: 55%;

                    }
                    .footer__items{
                        h2{
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
} 

@media (min-width: 1700px) {
    .header {
        height: 10dvh;
        .header-content {
            .nav-bar {
                width: 65%;
                ul li a{
                    font-size: 17px;
                }
            }
        }
        .decor-header {
            height: 10dvh;
        }
    }

    .footer {
        .background {
            .footer__content {
                .footer__main {
                    .footer__logo {
                        width: 60%;

                    }
                    .footer__items{
                        h2{
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
} 