$primary-color:#22afb9;
$white:#ffff;
$black:#3b3b3b;

$primary-color:hsl(184, 69%, 43%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@font-face {
	font-family: caps;
	src:url(../assets/fonts/caps.ttf);
}
@font-face {
	font-family: normal;
	src:url(../assets/fonts/normal-bold.ttf);
}

@font-face {
    font-family: neue; 
    src: url(./assets/Fonts/neue.otf) format("opentype");
}


// button:focus,
// div:focus,
// a:focus {
//     outline: none;
//     background-color: #ffffff; /* ფონის ცვლილება აქტიურ მდგომარეობაში */

// }

// button:active,
// div:active,
// a:active {
//     background-color: #ffffff; /* ფონის ცვლილება აქტიურ მდგომარეობაში */
//     box-shadow: none;
// }